@font-face {
  font-family:'NanumGothic';
  src: url('@/assets/fonts/NanumGothic/NanumGothic.otf') format('truetype');
}

@font-face {
  font-family:'NanumGothicBold';
  src: url('@/assets/fonts/NanumGothic/NanumGothicBold.otf') format('truetype');
}

@font-face {
  font-family:'NanumGothicExtraBold';
  src: url('@/assets/fonts/NanumGothic/NanumGothicExtraBold.otf') format('truetype');
}

@font-face {
  font-family:'NanumGothicLight';
  src: url('@/assets/fonts/NanumGothic/NanumGothicLight.otf') format('truetype');
}

@font-face {
  font-family:'Baloo2-Bold';
  src: url('@/assets/fonts/Baloo2/Baloo2-Bold.ttf') format('truetype');
}

@font-face {
  font-family:'Baloo2-ExtraBold';
  src: url('@/assets/fonts/Baloo2/Baloo2-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family:'Baloo2-Medium';
  src: url('@/assets/fonts/Baloo2/Baloo2-Medium.ttf') format('truetype');
}

@font-face {
  font-family:'Baloo2-Regular';
  src: url('@/assets/fonts/Baloo2/Baloo2-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Baloo2-SemiBold';
  src: url('@/assets/fonts/Baloo2/Baloo2-SemiBold.ttf') format('truetype');
}